body {
    background: url(reversed.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6vw;
    line-height: 1.42;
    color: #F20530;
    font-size: 200%;
}

header {
    vertical-align: middle;
    margin: auto;
    width: 10%;
    margin-top: 10%;
}

a {
    font-weight: 700;
    transition: color .5s ease,border-color .5s ease,background .5s ease,opacity 1.5s ease;
    text-decoration: none;
    color: #F20530;
}

small a {
    color: #F2CDC4;
}

a:focus, a:hover {
    transition: color .1s ease,border-color .1s ease,background .1s ease,opacity .1s ease;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    margin-right: 0px;
    padding: 0;
}

header h1 {
    font-size: 360%;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -.04em;
    hyphens: none;
}

header small {
    float: right;
    font-size: 60%;
    color: #F2CDC4;
}

@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?71548216');
    src: url('fonts/fontello.eot?71548216#iefix') format('embedded-opentype'),
         url('fonts/fontello.woff?71548216') format('woff'),
         url('fonts/fontello.ttf?71548216') format('truetype'),
         url('fonts/fontello.svg?71548216#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:hover {
    text-decoration: none;
}

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    font-size: 70%;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover {
    color: #F2CDC4;
}

/* Layout */

.left {
    float: left;
}

.clear {
    clear: both;
}

/* Audio player */

.audio-icon {
    width: 10em;
}

li {
    list-style: none;
    text-align: right;
}

ul a {
    font-weight: 500;
}

/* Max-width */

@media (max-width: 768px)
{
    body
    {
        font-size: 3vw;
    }
}
