{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>
    .md-header {
      position: initial;
    }

    .md-main__inner {
      margin: 0;
    }

    .md-content {
      display: none;
    }

    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    h1#hero {
        --width-target: calc(100vw / 4);
        --height-target: calc(100vh / 4);
        --size: min(var(--width-target), var(--height-target));
        letter-spacing: 2rem;

        font-size: var(--size);
        color: var(--md-primary-fg-color);
        margin: 0;
        padding: 0;

        text-decoration: underline;
        text-decoration-color: var(--md-default-fg-color--lightest);
        text-decoration-thickness: 0.05rem;
        text-underline-offset: 0.25em;

    }

    .mdx-hero {
        text-align: center;
    }
  </style>

<section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
          <h1 id="hero">soir</h1>
          <br />
          <h2 id="hero">Live Coding Environment<h2>
            <br />
            <br />
            <a href="{{ '/guides/quickstart/' | url }}" title="Install" class="md-button md-button--primary">Start</a>
            <a href="{{ '/reference/soir/' | url }}" title="Start" class="md-button">Reference</a>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
